* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.main-container {
    background-color: #FFE8C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container-1 {
    height: 35%;
    margin-top: 40px;
}
.image {
    width: 320px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 8px;
}
.h1 {
    padding: 20px 0px;
    font-size: 38px;
    color: #97BE5A;
}
.input {
    background-color: white;
    width: 87%;
    padding: 10px 20px;
    border: 1px solid #97BE5A;
    border-radius: 4px;
}
.button {
    background-color: #97BE5A;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}

.hidden {
    display: none;
}